/* CSS Document */

body {
	font-family: Arial, Helvetica, sans-serif;
}

form {
	border: 0.5% solid #f1f1f1;
}

input[type=text], input[type=password] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

input[type=submit] {
	background-color: black;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
}

button:hover {
  	opacity: 0.8;
}


.container {
  	padding: 16px;
	background-color: black;
	max-width: 30%;
	position: absolute;
	top: 25%;
	left: 35%;
}

header{
	text-align: center;
	color: white;
	padding: 1%;
}

form{
	padding-top: 1%;
	padding-bottom: 1%;
	text-align: center;
	background-color: white;
}

#blog{
	padding: 1%;
	position: absolute;
	max-width: 70%;
	min-width: 70%;
	left: 15%;
	background-color: #d8e6e6;
}

#post{
	background-color: #f0f2f2;
	color: #2a2b2b;
	padding: 2%;
}

#username{
	font-weight: bold;
}

#time{
	font-weight: lighter;
}

#contents{
	max-width: 98%;
	min-width: 98%;
	padding: 1%;
}