/* CSS Document */

body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #242424;
	-ms-overflow-style: none;
}

body::-webkit-scrollbar{
	display: none;
}

input[type=text], input[type=password], input[type=email] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

input[type=submit], input[type=button] {
	background-color: #2a2b2b;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	max-width: 100%;
	min-width: 100%;
	color: #f7f7f7;
}

#postButtons {
	display: flex;
  	flex-flow: row wrap;
  	align-items: center;
}

#postButtons input[type=submit], input[type=button] {
	width: 50%;
}

#makeComment{
	color: #f7f7f7;
	background-color: #2a2b2b;
}

#makeComment input[type=submit]{
	color: #2a2b2b;
	background-color: #f7f7f7;
}

.container {
  	padding: 16px;
	background-color: #f7f7f7;
	color: #2a2b2b;
	max-width: 30%;
	min-width: 30%;
	position: absolute;
	top: 25%;
	left: 35%;
	text-decoration: none;
}

#message, #messageComment{
	max-width: 100%;
	min-width: 100%;
}

#blog{
	padding: 1%;
	position: absolute;
	max-width: 70%;
	min-width: 70%;
	left: 15%;
	background-color: #dbdbdb;
}

#post{
	background-color: #f7f7f7;
	color: #2a2b2b;
	padding: 2%;
}

#commentTextArea{
	max-width: 100%;
	min-width: 100%;
}

#username, #commentTitle{
	font-weight: bold;
}

#commentTitle{
	padding: 1%;
}

#time{
	font-weight: lighter;
}

#contents{
	max-width: 98%;
	min-width: 98%;
	padding: 1%;
	white-space: pre-wrap;
}

#commentSection, #commentTitle, makeComment{
	background-color: #2a2b2b;
	color: #f7f7f7;
}

#commentSection{
	padding: 1%;
}

#comment{
	border-left: 0.5em solid #242424!important;
	padding: 1%
}

/*the nav menu*/
.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #242424;
}

.nav li {
  float: left;
}

.nav li a {
  display: block;
  color: #f7f7f7;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav li a:hover {
  background-color: #141414;
}

.nav{
	z-index: 1;
}

.sticky + .aboutMe{
	padding-top: 51px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

#homePageTitle img{
	padding-top: 2%;
	padding-bottom: 2%;
	position: relative;
	max-width: 42%;
	left: 29%;
}

#parallax{
	background-image: url(../img/Mountains_gradient.png);
	min-height: 30em; 
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#home{
	background-color: #f7f7f7;
}

.aboutMe, .skills, .education, .experience, .portfolio, .contact{
	left: 10%;
	max-width: 80%;
	min-width: 80%;
	background-color: #f7f7f7;
	color: #2a2b2b;
	padding: 1%;
	white-space: pre-wrap;
	position: relative;
}

.skills h1, .aboutMe h1{
	font-size: 200%;
	text-align: center;
}

#row{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}


#column{
	flex: 1;
	padding: 1.5%;
}

.education main, summary{
	padding: 2%;
}

#slideShow img, #slideShow video{
	max-width: 100%;
	max-height: 45em;
	min-height: 45em;
	margin-left: auto;
	margin-right: auto;
}

.mySlides {display:none;}


.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 0.5%;
    font-weight: bold;
    font-size: 100%;
    transition: 0.6s ease;
    user-select: none;
}

.next {
  	left: 0;
}

.prev{
	right: 0;
}

.portfolio figcaption, figure, article{
	text-align: center;
}

.portfolio a, .contact a{
	text-decoration: none;
	color: #2a2b2b;
} 

.portfolio a:hover, .contact a:hover{
	color: #5c5e5e;
}