/* CSS Document */

body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #242424;
}

form {
	border: 0.5% solid #f1f1f1;
}

input[type=text], input[type=password] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

input[type=submit] {
	background-color: black;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
}

button:hover {
  	opacity: 0.8;
}


.container {
  	padding: 16px;
	background-color: black;
	max-width: 30%;
	position: absolute;
	top: 25%;
	left: 35%;
}

header{
	text-align: center;
	color: white;
	padding: 1%;
}

form{
	padding-top: 1%;
	padding-bottom: 1%;
	text-align: center;
	background-color: white;
}

#blog{
	padding: 1%;
	position: absolute;
	max-width: 70%;
	min-width: 70%;
	left: 15%;
	background-color: #dbdbdb;
}

#post{
	background-color: #f7f7f7;
	color: #2a2b2b;
	padding: 2%;
}

#username{
	font-weight: bold;
}

#time{
	font-weight: lighter;
}

#contents{
	max-width: 98%;
	min-width: 98%;
	padding: 1%;
	white-space: pre-wrap;
}



body {
    font: 100% "Lato", sans-serif;
}


li {
    display: block;
    padding: 2%;
}

.nav {
    overflow: hidden;
    width: 100%;
    background-color: #1c1c1c;
}

.nav li, h1 {
	float: left;
	padding: 2%;
	text-align: center;
}

.nav li:active, li:visited, li:link{
	color: #f1f1f1;
}

.nav h1 {
	font: 200% "Lato", sans-serif;
	color: #f1f1f1;
}

.about, .education {
    position: absolute;
    left: 25%;
    max-width: 90%;
    max-height: 50%;
    padding: 1.5%;
    width: 50%;
}

.about img{
    float: right;
    max-width: 50%;
}

.education {
    top: 45%;
}

aside {
    max-width: 25%;
    position: absolute;
    width: 15em;
}

    aside#left {
        left: 0%;
    }

    aside#right {
        right: 0%;
    }


.reaserch, .skills, .links, .hobbies, .movies {
    padding: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: whitesmoke;
}

.reaserch {
    color: darksalmon;
    background-color: antiquewhite;
}

.links {
    color: darkmagenta;
}

.skills h2, .hobbies h2, .movies h2 {
    background-color: lightgreen;
    padding: 2%;
}

.skills li, .hobbies li, .movies li {
    background-color: white;
}

.skills img {
    float: left;
}